{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>drchrono Kiosk</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


{% if not request.user.is_authenticated %}
    <div class="col-md-offset-4 col-md-4 login">
        <div class="jumbotron welcome">
            <h1><span class="drchrono-logo">dr</span>chrono Kiosk</h1>
            <hr>
            <h4>Quick . Easy . Efficient</h4>

            <br>
            <p>
                Any doctor's virtual and most efficient receptionist. Login in to setup your office check-in kiosk.
                <br>
            </p>
            <br>
            <br>
            <a class="btn btn-block btn-lg btn-success login-button" href="{% url 'social:begin' 'drchrono' %}">
                Login with drchrono
            </a>
        </div>
    </div>


{% else %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    <div class="container">
        {% block content %}

            <h3>Already Logged In!!</h3>

        {% endblock %}
    </div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
